<div class="modal fade" id="dealLog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style="width:auto;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered dataTable" id="dealLogTables">
                    <thead>
                    <tr>
                        <th title="From">F</th>
                        <th title="To">T</th>
                        <th title="buyPrice">BP</th>
                        <th title="SellPrice">SP</th>
                        <th title="Premium">P</th>
                        <th title="OwnAPrice">OAP</th>
                        <th title="OwnVAM(万)">OVA</th>
                        <th title="OwnBPrice">OBP</th>
                        <th title="OwnVBM(万)">OVB</th>
                        <th title="OwnFNV(%)">OFNV</th>
                        <th title="OwnSII(%)">OSII</th>
                        <th title="AdviseAPrice">AAP</th>
                        <th title="AdviseVAM(万)">AVAM</th>
                        <th title="AdviseBPrice">ABP</th>
                        <th title="AdviseVBM(万)">AVBM</th>
                        <th title="AdviseFNV(%)">AFNV</th>
                        <th title="AdviseSII(%)">ASII</th>
                        <th title="BuyTime">BD</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
