<div class="modal fade" id="logStatistic" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
    <div class="modal-dialog" role="document" style="width:auto;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered dataTable" id="logTables">
                    <thead>
                    <tr>
                        <th>Own</th>
                        <th>Advise</th>
                        <th>P1</th>
                        <th>P2</th>
                        <th>OAPrice</th>
                        <th>OVAM(万)</th>
                        <th>OBPrice</th>
                        <th>OVBM(万)</th>
                        <th>AAPrice</th>
                        <th>AVAM(万)</th>
                        <th>ABPrice</th>
                        <th>AVBM(万)</th>
                        <th>Date</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Own</th>
                        <th>Advise</th>
                        <th>P1</th>
                        <th>P2</th>
                        <th>OAPrice</th>
                        <th>OVAM(万)</th>
                        <th>OBPrice</th>
                        <th>OVBM(万)</th>
                        <th>AAPrice</th>
                        <th>AVAM(万)</th>
                        <th>ABPrice</th>
                        <th>AVBM(万)</th>
                        <th>Date</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
